<div class="profile-container">
  <div class="profile-header">
    <h1>{{ 'USER_PROFILE' | translate }}</h1>
    <div class="profile-photo-container">
      <img [src]="user?.profilePhoto" class="profile-photo" alt="{{ 'PROFILE_PHOTO_ALT' | translate }}">
    </div>
  </div>
  <div class="profile-info">
    <div class="profile-field">
      <label>{{ 'FIRST_NAME' | translate }}:</label>
      <span>{{ user?.firstName }}</span>
    </div>
    <div class="profile-field">
      <label>{{ 'LAST_NAME' | translate }}:</label>
      <span>{{ user?.lastName }}</span>
    </div>
    <div class="profile-field">
      <label>{{ 'EMAIL' | translate }}:</label>
      <span>{{ user?.email }}</span>
    </div>
    <div class="profile-field">
      <label>{{ 'ROLE' | translate }}:</label>
      <span>{{ user?.role }}</span>
    </div>
  </div>
  <div class="profile-actions">
    <button class="btn btn-primary" (click)="navigateToUpdate()">{{ 'UPDATE_PROFILE' | translate }}</button>
    <button class="btn btn-danger" (click)="logout()">{{ 'LOGOUT' | translate }}</button>
    <button class="btn btn-secondary" (click)="navigateToUpdatePwd()">{{ 'EDIT_PASSWORD' | translate }}</button>
    <!-- <button class="btn btn-secondary" (click)="goBack()">{{ 'GO_BACK' | translate }}</button> -->
  </div>
  
  <!-- <button (click)="downloadProfilePdf()">{{ 'DOWNLOAD_PROFILE_PDF' | translate }}</button> -->
</div>
